$crayola: #A554B2;
$white: #FFFFFF;
$yellow: #E8FA67;
$purple: #7F378A;
$green: #8DB261;
$asphalt: #4F4E4E;
$black: #000000;
$grey: #C4C4C4;
$blue: #369EBF;
$lavender : #E7F1F8;
$cuttlefish: #654816;
$lemon: #FFC83C;
$Jaco: #FF932A;





