@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
html,
body {
  height: 100%;
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 1475px;
  margin: 0 auto;
  padding: 0 10px;
}

.titles__head {
  text-align: center;
  font-family: "Anton", sans-serif;
  font-size: 48px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.titles__line {
  margin: 36px auto 31px;
  width: 200px;
  height: 5px;
}

.titles__foot {
  text-align: center;
  font-family: "Anton", sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 38px;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 0;
  width: 450px;
  height: 100px;
  border-radius: 8px;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-box-shadow: 8px 8px 8px -2px rgba(78, 87, 74, 0.9);
          box-shadow: 8px 8px 8px -2px rgba(78, 87, 74, 0.9);
}

.btn:hover {
  -webkit-box-shadow: 8px 8px 8px -2px rgba(78, 87, 74, 0.9) inset;
          box-shadow: 8px 8px 8px -2px rgba(78, 87, 74, 0.9) inset;
}

/* ===================================================================================================================================== */
.header__body {
  background-color: #A554B2;
  padding: 50px 0px 250px 0px;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 7px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list li {
  margin: 0 0 0 22px;
}

.header__link {
  font-size: 24px;
  font-weight: 500;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 5px 14px;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__link:hover {
  background-color: #7F378A;
}

.header__title {
  text-align: center;
  font-size: 68px;
  font-family: "Anton", sans-serif;
  color: #FFFFFF;
  letter-spacing: 5.2px;
  line-height: 100px;
  margin: 190px 0 177px;
}

.header__btn {
  background-color: #E8FA67;
  color: #000;
}

/* ===================================================================================================================================== */
.service {
  background-color: #8DB261;
  padding: 117px 0 126px;
}

.service__title {
  color: #FFFFFF;
}

.service__line {
  background-color: #fff;
}

.service__subtitle {
  color: #FFFFFF;
}

.service__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 130px 0 0;
}

.card-service {
  /*     &__social {        
        text-align: center;
        margin: 30px 0;
    }
    &__icon {
        margin: 5px 0 0 0;
    } */
}

.card-service__top {
  width: 180px;
  height: 180px;
  margin: 0 auto;
}

.card-service__top img {
  max-width: 100%;
}

.card-service__theme {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 94px 0 0 0;
  color: #FFFFFF;
}

.card-service__description {
  max-width: 282px;
  font-size: 26px;
  color: #FFFFFF;
  margin: 67px 0 0 0;
  line-height: 34px;
}

/* ===================================================================================================================================== */
.team {
  padding: 117px 0 101px;
  background-color: #E7F1F8;
}

.team__title {
  color: #4f4e4e;
}

.team__line {
  background-color: #4f4e4e;
}

.team__subtitle {
  color: #4f4e4e;
}

.team__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 133px 0 0 0;
}

.team__card {
  max-width: 282px;
}

.card-team__top {
  margin: 0 auto;
  width: 170px;
  height: 170px;
}

.card-team__top img {
  max-width: 100%;
  border-radius: 50%;
  overflow: hidden;
  background-color: #C4C4C4;
  border: 10px solid #C4C4C4;
}

.card-team__name {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin: 53px 0 0 0;
}

.card-team__position {
  text-align: center;
  font-size: 18px;
  color: #369EBF;
  text-transform: uppercase;
  margin: 20px 0 0 0;
}

.card-team__description {
  text-align: center;
  font-size: 26px;
  line-height: 34px;
  color: #C4C4C4;
  margin: 49px 0 0 0;
}

.card-team__social {
  margin: 28px 0 0 0;
  text-align: center;
}

.card-team__icon {
  margin: 0 8px;
}

/* ===================================================================================================================================== */
.skills {
  padding: 143px 0 137px;
}

.skills__title {
  color: #4f4e4e;
}

.skills__line {
  background-color: #4f4e4e;
}

.skills__subtitle {
  color: #4f4e4e;
}

.skills__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 130px 0 0 0;
}

.card-skills {
  max-width: 250px;
  text-align: center;
}

.card-skills__graph {
  height: 250px;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-skills__graph img {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.card-skills__level {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-skills__percent {
  font-family: "Anton", sans-serif;
  font-size: 52px;
}

.card-skills__percent span {
  bottom: 0;
  font-size: 32px;
}

.card-skills__icon {
  margin: 85px 0 25px;
}

.card-skills__theme {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 100%;
}

/* ===================================================================================================================================== */
.portfolio {
  padding: 143px 0 130px;
  background-color: #cfd799;
}

.portfolio__title {
  color: #654816;
}

.portfolio__line {
  background-color: #654816;
}

.portfolio__subtitle {
  color: #654816;
}

.portfolio__menu {
  margin: 128px 0 129px;
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio__list li {
  margin: 0 14px;
  width: 116px;
  height: 40px;
  border-radius: 8px;
  background-color: #ffc83c;
  -webkit-box-shadow: 4px 4px 8px -2px rgba(78, 87, 74, 0.9);
          box-shadow: 4px 4px 8px -2px rgba(78, 87, 74, 0.9);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.portfolio__list li:hover {
  background-color: #FF932A;
  -webkit-box-shadow: 4px 4px 8px -2px rgba(78, 87, 74, 0.9) inset;
          box-shadow: 4px 4px 8px -2px rgba(78, 87, 74, 0.9) inset;
}

.portfolio__link {
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  color: #654816;
  display: block;
  text-align: center;
  padding: 9px;
}

.portfolio__block-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio__block-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio__btn {
  background-color: #A554B2;
  color: #FFFFFF;
  margin-top: 104px;
}

.card-portfolio__top {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 700px;
          flex: 0 0 700px;
}

.card-portfolio__link {
  text-decoration: none;
  color: #654816;
}

.card-portfolio__link img {
  max-width: 100%;
  border: #ffc83c solid 10px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.card-portfolio__name {
  margin: 34px 0 32px;
  font-family: "Anton", sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}

.tiles__tile {
  display: inline-block;
  margin: 10px;
  text-align: left;
  opacity: 0.99;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
}

.tiles__tile:before {
  content: "";
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#654816));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #654816 100%);
  width: 100%;
  height: 60%;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  -webkit-transition-property: top, opacity;
  transition-property: top, opacity;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.tiles__tile .tiles__details {
  font-size: 24px;
  padding: 20px;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.tiles__tile .tiles__details span {
  display: block;
  opacity: 0;
  position: relative;
  top: 100px;
  -webkit-transition-property: top, opacity;
  transition-property: top, opacity;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.tiles__tile .tiles__details .tiles__title {
  line-height: 1;
  font-weight: 600;
  font-size: 24px;
}

.tiles__tile .tiles__details .tiles__info {
  line-height: 1.2;
  margin-top: 5px;
  font-size: 24px;
}

.tiles__tile:focus:before,
.tiles__tile:focus span, .tiles__tile:hover:before,
.tiles__tile:hover span {
  opacity: 1;
}

.tiles__tile:focus:before,
.tiles .tiles__tile:hover:before {
  top: 40%;
}

.tiles__tile:focus span,
.tiles .tiles__tile:hover span {
  top: 0;
}

.tiles__tile:focus .tiles__title,
.tiles .tiles__tile:hover .tiles__title {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

.tiles__tile:focus .tiles__info,
.tiles .tiles__tile:hover .tiles__info {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

/* ===================================================================================================================================== */
.testimonials {
  padding: 143px 0 30px;
  background-color: #d6618e;
}

.testimonials__top {
  margin: 0 0 130px;
}

.testimonials__title {
  color: #FFFFFF;
}

.testimonials__line {
  background-color: #FFFFFF;
}

.testimonials__subtitle {
  color: #FFFFFF;
}

.testimonials__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 65px;
}

.testimonials__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 660px;
}

.card-testimonials__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  margin: 0 20px 0 0;
}

.card-testimonials__image img {
  max-width: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.card-testimonials__text {
  font-size: 24px;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 35px;
  max-width: 480px;
  margin: 0 0 33px;
}

.card-testimonials__name {
  font-family: "Anton", sans-serif;
  font-size: 24px;
  color: #d5f6f5;
  letter-spacing: 2px;
  margin: 0 0 24px;
}

.card-testimonials__position {
  font-size: 18px;
  color: #ffc83c;
  margin: 15px 0 0 0;
  text-transform: uppercase;
  margin: 0 0 106px;
}

/* ===================================================================================================================================== */
.contact {
  padding: 143px 0 58px;
  background-color: #7b94c7;
}

.contact__title {
  color: #FFFFFF;
}

.contact__line {
  background-color: #FFFFFF;
}

.contact__subtitle {
  color: #FFFFFF;
}

.contact__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 0 0;
}

.contact__form {
  background-color: #002770;
  font-size: 38px;
  letter-spacing: 5px;
  color: #FFFFFF;
  text-transform: capitalize;
  top: 0;
}

.contact__name {
  height: 69px;
  width: 690px;
}

.contact__email {
  height: 69px;
  width: 690px;
}

.contact__bottom {
  padding: 60px 0 0;
}

.contact__field {
  height: 300px;
  width: 100%;
  margin: 0 0 60px;
}

.contact__btn {
  background-color: #A554B2;
  color: #FFFFFF;
  text-align: center;
}

.contact__social {
  margin: 62px 0 0;
}

.contact__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__link {
  font-size: 24px;
  font-weight: 700;
  color: #e9e9e0;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contact__link:hover {
  color: #44ceec;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

/* ===================================================================================================================================== */
.fourohfour {
  height: 100vh;
  background-color: #e29ed1;
  padding: 80px 0px 0px 0px;
}

.fourohfour__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fourohfour__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  border-radius: 50%;
  overflow: hidden;
}

.fourohfour__image img {
  width: 100%;
}

.info {
  max-width: 23.5%;
}

.info__text {
  font-weight: bold;
  font-size: 37px;
  line-height: 48px;
  margin: 0px 0px 180px 0px;
  text-align: justify;
}

.info__btn {
  background-color: #a554b2;
  color: #000;
  text-transform: capitalize;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */