@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
html, body {
  height: 100%;
  font-family: 'DM Sans', sans-serif;
}

.container {
  max-width: 1475px;
  margin: 0 auto;
  padding: 0 10px;
}

.titles__head {
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 48px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.titles__line {
  margin: 30px auto 33px;
  width: 200px;
  height: 5px;
}

.titles__foot {
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 38px;
  text-transform: uppercase;
}

/* ===================================================================================================================================== */
.header {
  background-color: #A554B2;
  padding: 38px 0 252px;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-left: 16px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list li {
  margin: 0 0 0 22px;
}

.header__link {
  font-size: 24px;
  font-weight: 500;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 5px 14px;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__link:hover {
  background-color: #7F378A;
}

.header__title {
  text-align: center;
  font-size: 68px;
  font-family: 'Anton', sans-serif;
  color: #FFFFFF;
  letter-spacing: 5.2px;
  line-height: 100px;
  margin: 190px 0 0;
}

.header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 177px auto 0;
  padding: 27px 78px;
  background-color: #E8FA67;
  border-radius: 8px;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

/* ===================================================================================================================================== */
.service {
  background-color: #8DB261;
  padding: 117px 0 126px;
}

.service__title {
  color: #FFFFFF;
}

.service__line {
  background-color: #fff;
}

.service__subtitle {
  color: #FFFFFF;
}

.service__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 130px 0 0;
}

.card-service {
  /*     &__social {        
        text-align: center;
        margin: 30px 0;
    }
    &__icon {
        margin: 5px 0 0 0;
    } */
}

.card-service__top {
  width: 180px;
  height: 180px;
  margin: 0 auto;
}

.card-service__top img {
  max-width: 100%;
}

.card-service__theme {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 94px 0 0 0;
  color: #FFFFFF;
}

.card-service__description {
  max-width: 282px;
  font-size: 26px;
  color: #FFFFFF;
  margin: 67px 0 0 0;
  line-height: 34px;
}

/* ===================================================================================================================================== */
.team {
  padding: 117px 0 126px;
  background-color: #E7F1F8;
}

.team__title {
  color: #4F4E4E;
}

.team__line {
  background-color: #4F4E4E;
}

.team__subtitle {
  color: #4F4E4E;
}

.team__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 133px 0 0 0;
}

.team__card {
  max-width: 282px;
}

.card-team__top {
  margin: 0 auto;
  width: 170px;
  height: 170px;
}

.card-team__top img {
  max-width: 100%;
  border-radius: 50%;
  overflow: hidden;
  background-color: #C4C4C4;
  border: 10px solid #C4C4C4;
}

.card-team__name {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin: 51px 0 0 0;
}

.card-team__position {
  text-align: center;
  font-size: 18px;
  color: #369EBF;
  text-transform: uppercase;
  margin: 20px 0 0 0;
}

.card-team__description {
  text-align: center;
  font-size: 26px;
  line-height: 34px;
  color: #C4C4C4;
  margin: 51px 0 0 0;
}

.card-team__social {
  margin: 30px 0 0 0;
  text-align: center;
}

.card-team__icon {
  margin: 0 8px;
}

/* ===================================================================================================================================== */
.skills {
  padding: 130px 0 130px;
}

.skills__title {
  color: #4F4E4E;
}

.skills__line {
  background-color: #4F4E4E;
}

.skills__subtitle {
  color: #4F4E4E;
}

.skills__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 130px 0 0 0;
}

.skills__cards {
  text-align: center;
}

.card-skills__level {
  position: relative;
}

.card-skills__percent {
  position: absolute;
  font-family: 'Anton', sans-serif;
  font-size: 52px;
}

.card-skills__percent span {
  font-size: 32px;
}

.card-skills__icon {
  margin: 85px 0 25px;
}

.card-skills__theme {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

.percent-1 {
  left: 85px;
  margin-top: -155px;
}

.percent-2 {
  left: 736px;
  margin-top: -155px;
}

.percent-3 {
  left: 1100px;
  margin-top: -155px;
}

.percent-4 {
  left: 1460px;
  margin-top: -155px;
}

/* ===================================================================================================================================== */
/* ===================================================================================================================================== */
/* ===================================================================================================================================== */
/*# sourceMappingURL=style.css.map */